body {
    background-color: white;
  }

  h1 {
    background-color: rgb(130, 51, 177);
  }
  
  p {
    background-color: white;
  }


  h1 {
    text-align: center;
    color: white;
    margin-left: 20px
  }
  h2{
      text-align: center;
  }
  h3{
    text-align: center;
    margin-left: 20px
  }
p{
    text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

ul.b {
  list-style-type: square;
}
ul {
  background: #3399ff;
  padding: 20px;
}
