body {
    background-color: white;
  }

  h1 {
    background-color: rgb(130, 51, 177);
  }
  
  p {
    background-color: white;
  }


  h1 {
    text-align: center;
    color: white;
    margin-left: 20px
  }
  h2{
      text-align: center;
  }
  h3{
    text-align: center;
    margin-left: 20px
  }
p{
    text-align: center;
}

img {

  width: 50%;
}

ul.b {
  list-style-type: square;
}
ul {
  background: #babcbe;
  padding: 20px;
}
