body {
    background-color: white;
  }

  h1 {
    background-color: rgb(130, 51, 177);
  }
  

  h1 {
    font-family: "myFirstFont";
    text-align: center;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 40px;
    
  
  }
  h2{
      text-align: center;
      Font-family: "RobotoFont";
  }
  h3{
    text-align: center;
    Font-family: "RobotoFont";
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
  }
p{
    text-align: center;
    font-family: "RobotoFont";
    font-size: 30px;
    background-color: white;
}



ul.b {
  list-style-type: square;
}
ul {
  background: #a3c9ee;
  padding: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@font-face {
  font-family: myFirstFont;
  src: url(Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}
@font-face {
  font-family: mySecondFont;
  src: url(Shadows_Into_Light/ShadowsIntoLight-Regular.ttf);
}
@font-face {
  font-family: RobotoFont;
  src: url(Roboto/Roboto-Light.ttf);
}